{% load static %}
<!DOCTYPE html>
<html>
<head>
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main2.css' %}">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">x6League Report System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fa fa-home"></i>
          Inicio
          <span class="sr-only">(current)</span>
          </a>
      </li>
        {% if request.user.is_staff %}
            {% if perms.reports.ca_add_report %}
                <li class="nav-item">
                    <a class="nav-link" href="/reports">
                        <i class="fa fa-list-ul"></i>
                        Lista de Reportes
                        <span class="badge badge-danger">!</span>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/reports/add">
                  <i class="fa fa-user-plus">

                  </i>
                  Añadir Reporte <span class="badge badge-danger">+</span>
                </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="fa fa-wrench">

              </i>
              Administración <span class="badge badge-danger">!</span>
            </a>
          </li>
        {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" accept-charset="utf-8">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="fuser">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}">
      <button class="btn btn-outline-warning logout_button" type="submit">Logout</button>
    </form>
  </div>
</nav>
<body>{% block content %}
{% endblock %}{% block content2 %}
{% endblock %}</body>
</html>
